<div class="container">
  <div class="row text-center pad-top ">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
      <div class="panel panel-primary" >
        <h2>Forgot your password?</h2>
        <hr/>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          
            <%= f.label :email,class:"control-label", for:"email" %>
            <div class="controls">
              <span class="input-group-addon">@ <%= f.email_field :email, autofocus: true, id:"email", placeholder:"Email" %></span>
              <p class="help-block">Please provide your E-mail</p>
            </div>
          <div class="actions">
            <%= f.submit "Send me reset password instructions",class:"btn btn-success" %>
          </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>